<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Text Analyser</title>
        <link rel="stylesheet" href="static/output.css">
    </head>
    <body>
        <div>
            <header class="w-full flex flex-wrap items-center justify-center p-2 gap-1">
                <nav class="w-full grid grid-cols-3 bg-gray-700 rounded-xl">
                    <h1 class=" text-center  col-start-2">Text Analyser Powered By Azure</h1>
                    <button class="text-right pr-4 col-start-3" id="historic-button">Historic</button>
                    
                </nav>
                <nav class="w-full grid grid-cols-3  rounded-xl relative hidden" id="historic">
                    <ul class="text-center col-start-3 bg-gray-700 *:border space-y-3 p-2 " id="historicList">
                    </ul>
                    
                </nav>
           </header>
        </div>
        
        <div class="flex justify-center w-full h-full">
            <div class="box-chat"> 
                <section class="chat">
                        <div class="" id="sentences">
                            <table class="table-output">
                                
                                <thead class="" id="sentencesHead">
                                    <tr>
                                        <th >
                                            Sentence
                                        </th>
                                        <th >
                                            Sentence offset
                                        </th>
                                        <th >
                                            Sentiment
                                        </th>
                                        <th >
                                            Confidence Score
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="sentencesBody">
                                    
                                </tbody>
                            </table>
                        </div>
                    <div >
                        <table class="table-output">
                            <caption>
                                All entities on the text
                            </caption>
                            <thead>
                                <tr>
                                    <th>Entity</th>
                                    <th>Category</th>
                                    <th>Sub-Category</th>
                                    <th>Entity offset</th>
                                    <th>Compliance</th>
                                </tr>
                            </thead>
                            <tbody id="entitiesBody">
                            </tbody>
                        </table>
                        
                        </div>
                        <div>
                            <table class="table-output">
                                    <caption>
                                        The external entities data
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th>Entity name</th>
                                            <th>Url</th>
                                            <th>Source</th>
                                            <th>Matche info</th>
                                        </tr>
                                    </thead>
                                    <tbody id="linkedEntitiesBody">
                                    </tbody>
                            </table>
                        </div>
                        <div class="flex space-x-4 space-y-4 flex-wrap justify-between w-full" id="tagsBody">
                            <div class="w-full p-2 text-center">
                                <h1 class="text-white font-bold text-2xl">Tags found:</h1>
                            </div>
                        </div>
                </section>
            </div> 
    
    
            <div class="box">
                <div class="box-user-input">
                    <form action=" {{ url_for('index') }} " class="form-primary" id="input-user" method="post" enctype="multipart/form-data">
                        <div class="text-section">
                            <input type="text" name="text" id="user-entry" class="text-entry" placeholder="Insert your text">
                            <button type="button" class="btn-send hidden" id="send-button">Analisar</button>   
                        </div>
                        <div class="options">
                            <div>
                                <label for="">Get sentiment</label>
                                <input type="checkbox" name="sentiment" id="" >
                            </div>
                            <div>
                                <label for="">Get Entities</label>
                                <input type="checkbox" name="entities" id="">
                            </div>
                            <div>
                                <label for="">Get Linked Entities</label>
                                <input type="checkbox" name="linked_entities" id="">
    
                            </div>
                            <div>
                                <label for="">Get Key Words</label>
                                <input type="checkbox" name="key_phrases" id="">
                            </div>
                            <div>
                                <label for="">Full Analyse</label>
                                <input type="checkbox" name="all_actions" id="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        



        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="static/sendForm.js"></script>
            
    </body>
</html>