
<video id="myVideo" src="static/video.mp4" width="200px" controls></video>


<div class="box-chat">
    <section class="chat">
        {% if sentiment %}
            <div class=" ">
                <table class="table-output">
                    <caption class="th-line">
                        Overal text sentiment : {{sentiment[0].sentiment | upper}}
                        <br>
                        Text lang : {{language[0].primary_language.name}}
                    </caption>
                    <thead class="">
                        <tr>
                            <th >
                                Sentence
                            </th>
                            <th >
                                Sentence offset
                            </th>
                            <th >
                                Sentiment
                            </th>
                            <th >
                                Confidence Score
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sentence in sentiment[0].sentences %}
                        <tr >
                            <th >
                                {{ sentence.text }}
                            </th>
                            <th >
                                {{ sentence.offset }}
                            </th>
                            <td >
                                {{ sentence.sentiment }}
                            </td>
                            <td >
                                {{ (sentence.confidence_scores[sentence.sentiment] * 100) | int }} %
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if entities %}
        <div >
            <table class="table-output">
                <caption>
                    All entities on the text
                </caption>
                <thead>
                    <tr>
                        <th>Entity</th>
                        <th>Category</th>
                        <th>Sub-Category</th>
                        <th>Entity offset</th>
                        <th>Compliance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities[0].entities %}
                    <tr>
                        <td>{{entity.text}}</td>
                        <td>{{entity.category}}</td>
                        <td>{{entity.subcategory}}</td>
                        <td>{{entity.offset}}</td>
                        <td>{{(entity.confidence_score * 100) | int}} %</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            </div>
        {% endif %}
        {% if linked_entities %}
            <div>
                <table class="table-output">
                        <caption>
                            The external entities data
                        </caption>
                        <thead>
                            <tr>
                                <th>Entity name</th>
                                <th>Url</th>
                                <th>Source</th>
                                <th>Matche info</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for linked_entity in linked_entities[0].entities %}
                                <tr>
                                    <td >{{linked_entity.name}}</td>
                                    <td ><a href="{{linked_entity.url}}">{{linked_entity.url}}</a></td>
                                    <td >{{linked_entity.data_source}}</td>
                                    <td >{{linked_entity.matches[0].text}} |  | {{linked_entity.matches[0].confidence_score}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            {% endif %}
            {% if key_phrases %}
            <div class="tags-row">
                <button>Tags: </button>
                    {% for tag in key_phrases[0].key_phrases %}
                        <button>{{tag | title }}</button>
                    {% endfor %}
            </div>
            {% endif %}
    </section>
</div>




<div class="box">
    <div class="box-user-input">
        <form action=" {{ url_for('index') }} " class="form-primary" id="input-user" method="post" enctype="multipart/form-data">
            <div class="text-section">
                <input type="text" name="text" id="" class="text-entry" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="Insert your text">
                <button type="submit" class="btn-send" id="send-button">Analisar</button>   
            </div>
            <div class="options">
                <div>
                    <label for="">Get sentiment</label>
                    <input type="checkbox" name="sentiment" id="" >
                </div>
                <div>
                    <label for="">Get Entities</label>
                    <input type="checkbox" name="entities" id="">
                </div>
                <div>
                    <label for="">Get Linked Entities</label>
                    <input type="checkbox" name="linked_entities" id="">

                </div>
                <div>
                    <label for="">Get Key Words</label>
                    <input type="checkbox" name="key_phrases" id="">
                </div>
                <div>
                    <label for="">Full Analyse</label>
                    <input type="checkbox" name="all_actions" id="">
                </div>
            </div>
        <input type="file" name="doc" id="s" accept="application/pdf">
        </form>
    </div>
</div>
{% for msg in get_flashed_messages() %}

{{msg}}

{% endfor %}




<link rel="stylesheet" href="static/output.css">
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="static/sendForm.js"></script>